:root {
  --size: "";
}

/* Grid of matrix */
.grid-wrapper {
  display: flex;
  flex-direction: row;
}

.matrix-grid {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  width: 100%;
}

.square {
  aspect-ratio: 1 / 1;
  border: 1px solid black;
}

.busyByDrone {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.drone-N {
  background-image: url('/assets/img/droneN.png');
}

.drone-S {
  background-image: url('/assets/img/droneS.png');
}

.drone-E {
  background-image: url('/assets/img/droneE.png');
}

.drone-O {
  background-image: url('/assets/img/droneO.png');
}

.empty {
  background-color: #eeeed2;
}

/* Display coordinates  */
.y-axis {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  justify-content: space-between;
}

.y-label {
  text-align: right;
  padding-right: 5px;
  height: 100%;
  align-content: center;
}

.empty-corner {
  height: 80px; /* Tamaño de la fila de coordenadas X */
}

.x-label {
  position: relative;
  top: 4px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

