<h3 class="mt-1 mb-4">Update matrix range</h3>
<form [formGroup]="updateMatrixForm" class="d-flex gap-3">
  <p-floatLabel class="d-inline-block">
    <p-inputNumber [showButtons]="true" formControlName="max_x" id="max_x" min="0"/>
    <label for="max_x">Max_x</label>
  </p-floatLabel>
  <p-floatLabel class="d-inline-block">
    <p-inputNumber [showButtons]="true" formControlName="max_y" id="max_y" min="0"/>
    <label for="max_y">Max_y</label>
  </p-floatLabel>
  <span (click)="onSubmit()" label="Update Matrix" pButton type="button"></span>
</form>
<p-dialog [(visible)]="updatedModal" [modal]="true" [style]="{ width: '25rem' }" header="Matrix Updated">
  <span class="p-text block mb-5">Matrix updated correctly</span>
  <div class="d-flex justify-content-end">
    <p-button (onClick)="this.updatedModal = false" label="Okay" severity="primary"/>
  </div>
</p-dialog>
