<div class="container-fluid row mt-2">
  <div class="col-6 d-flex justify-content-center align-items-center flex-column">
    <h3>Administration panel</h3>
    <p>Manage each entity or flight the drones inside the matrix it owns</p>
    <ul class="list-unstyled d-flex gap-3">
      <li><button pButton type="button" label="Manage drones" routerLink="/drones"></button></li>
      <li><button pButton type="button" label="Manage matrices" routerLink="/matrices"></button></li>
      <li><button pButton type="button" label="Flight drones" routerLink="/flying"></button></li>
    </ul>
  </div>
  <div class="col-6">
    <img src="assets/operarioDron.jpg" alt="user managing drones" class="w-75 rounded ">
  </div>
</div>
