<p-toolbar>
  <div class="p-toolbar-group-left button-group">
      <span pButton type="button" label="Home" routerLink="/"><mat-icon>home</mat-icon></span>
      <span pButton type="button" label="Drones" routerLink="/drones"><mat-icon>flight</mat-icon></span>
      <span pButton type="button" label="Matrices" routerLink="/matrices"><mat-icon>grid_on</mat-icon></span>
      <span pButton type="button" label="Flying Control" routerLink="/flying"><mat-icon>flight_takeoff</mat-icon></span>
  </div>
  <div class="p-toolbar-group-right button-group">
      <span pButton type="button" label="Login" routerLink="/login"><mat-icon>person</mat-icon></span>
      <span pButton type="button" label="Register" routerLink="/register"><mat-icon>person_add</mat-icon></span>
  </div>
</p-toolbar>
