<p-toolbar>
  <div class="p-toolbar-group-left button-group">
      <button pButton type="button" label="Home" routerLink="/"><span class="material-icons">home</span></button>
      <button pButton type="button" label="Drones" routerLink="/drones"><span class="material-icons">flight</span></button>
      <button pButton type="button" label="Matrices" routerLink="/matrices"><span class="material-icons">grid_on</span></button>
      <button pButton type="button" label="Flying Control" routerLink="/flying"><span class="material-icons">flight_takeoff</span></button>
  </div>
  <div class="p-toolbar-group-right button-group">
      <button pButton type="button" label="Login" routerLink="/login"><span class="material-icons">person</span></button>
      <button pButton type="button" label="Register" routerLink="/register"><span class="material-icons">person_add</span></button>
  </div>
</p-toolbar>
