<footer class="pt-2" [style.background-color]="'var(--primary-color)'" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <img src="assets/icons/logo.png" alt="Logo" class="img-fluid" width="100"><br>
      </div>

      <div class="col-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-3">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">LinkedIn</a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>
