<div class="py-2 ps-3 pe-4">
  <pages-matrices-search-button (matrixIdEmitter)="getMatrix($event)"
                                [matricesIds]="this.matricesIds"></pages-matrices-search-button>
  @if (matrix) {
    <div class="row mt-1">
      <div class="col-6">
        <pages-flying-drones-table [drones]="this.drones"
                                   (selectedDronesEmitter)="this.selectedDrones = $event"></pages-flying-drones-table>
        <div class="d-inline-flex flex-column align-items-center mt-3 p-2">
          <h3>Commands panel</h3>
          <p>Select the drone/s in the table on top and move them with the same command</p>
        </div>
        <p-accordion>
          <p-accordionTab header="Single command">
            <pages-flying-drone-commands (commandEmitter)="moveDrone($event)"></pages-flying-drone-commands>
          </p-accordionTab>
          <p-accordionTab header="Multiple commands">
            <pages-flying-command-list-exec (executeEmitter)="moveDrone($event)" ></pages-flying-command-list-exec>
          </p-accordionTab>
          <p-accordionTab header="Commands by csv">
            <pages-flying-upload-csv (dronesMovesEmitter)="moveDroneByCsv($event)"></pages-flying-upload-csv>
          </p-accordionTab>
        </p-accordion>
      </div>
      <div class="col-6">
        <pages-matrices-matrix-grid [matrix]="this.matrix"></pages-matrices-matrix-grid>
      </div>
    </div>
  }
  <p-toast></p-toast>
</div>
